@import "tailwindcss";




/* globals.css */
.goog-te-banner-frame {
  display: none !important;
}

body {
  top: 0 !important;
}

#google_translate_element {
  display: none;
}

/* Prevent Google Translate from moving the page */
.goog-te-gadget {
  display: none;
}