@import "tailwindcss";




/* Hide the Google Translate top bar */
.goog-te-banner-frame {
  display: none !important;
}
body {
  top: 0 !important;
}
.goog-te-gadget-simple {
  display: none !important;
}